<h1>Olá {{name}}</h1>
<p>Foi requisitado a troca de senha em sua conta.</p>
<p>
    <a href="{{url}}">Clique aqui</a> para realizar os passos para trocar sua senha.
</p>
<p>Caso não foi você que requisitou apenas ignore esse e-mail</p>